@{
    Layout = "~/Views/Shared/CanBoDaoTaoLayout.cshtml";
}


<h1>Cán bộ đào tạo</h1>
<p>Chào mừng đến với hệ thống quản lý đào tạo.</p>

<button class="logout-button" onclick="logout()">Đăng xuất</button>

<script>
    function logout() {
        window.location.href = "/Login/Logout";
    }
</script>