@model KeHoachViewModel
@{
    Layout = null;
}

<div class="card shadow p-4 bg-white">
   
    <form id="createForm" asp-action="Create" asp-controller="KeHoach" method="post">
        <div class="mb-3">
            <label class="form-label">Dự án</label>
            <select asp-for="IdDuAn" asp-items="ViewBag.DuAnList" class="form-select">
                <option value="">Chọn dự án...</option>
            </select>
            <span asp-validation-for="IdDuAn" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Tên kế hoạch</label>
            <input asp-for="TenKeHoach" class="form-control" />
            <span asp-validation-for="TenKeHoach" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Nội dung kế hoạch</label>
            <textarea asp-for="NoiDung" class="form-control"></textarea>
            <span asp-validation-for="NoiDung" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Khoảng thời gian diễn ra</label>
            <div class="input-group">
                <input type="datetime-local" name="ThoiGianBatDau" class="form-control" required />
                <span class="input-group-text">-</span>
                <input type="datetime-local" name="ThoiGianKetThuc" class="form-control" required />
            </div>
        </div>
        <input type="hidden" asp-for="TrangThai" value="1" />
    </form>
</div>
