@model Nhom10ModuleDiemDanh.Models.CoSoViewModel

<div>
    <dl class="row">
        <dt class="col-sm-4" style="color:black">Tên cơ sở</dt>
        <dd class="col-sm-8" style="color:black">@Model.TenCoSo</dd>
        <dt class="col-sm-4" style="color:black">Mã cơ sở</dt>
        <dd class="col-sm-8" style="color:black">@Model.MaCoSo</dd>
        <dt class="col-sm-4" style="color:black">Trạng thái</dt>
        <dd class="col-sm-8" style="color:black">@(Model.TrangThai == "Hoạt động" ? "Hoạt động" : "Ngừng hoạt động")</dd>
    </dl>
</div>