﻿@{
    Layout = "~/Views/Shared/PhuTrachXuongLayout.cshtml";
}


<h1>Phụ trách xưởng</h1>
<p>Chào mừng đến với hệ thống phụ trách xưởng.</p>

<button class="logout-button" onclick="logout()">Đăng xuất</button>

<script>
    function logout() {
        window.location.href = "/Login/Logout";
    }
</script>