@using API.Data
@model API.Data.PhuTrachXuong

@{
    Layout = "~/Views/Shared/CanBoDaoTaoLayout.cshtml";
    var coSoList = ViewBag.CoSoList as SelectList;
}

<h1>Edit</h1>

<h4>PhuTrachXuong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="IdNhanVien" />

            <div class="form-group">
                <label asp-for="TenNhanVien"></label>
                <input asp-for="TenNhanVien" class="form-control" />
                <span asp-validation-for="TenNhanVien" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaNhanVien"></label>
                <input asp-for="MaNhanVien" class="form-control" />
                <span asp-validation-for="MaNhanVien" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmailFE"></label>
                <input asp-for="EmailFE" class="form-control" />
                <span asp-validation-for="EmailFE" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmailFPT"></label>
                <input asp-for="EmailFPT" class="form-control" />
                <span asp-validation-for="EmailFPT" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdCoSo"></label>
                <select asp-for="IdCoSo" class="form-control" asp-items="coSoList">
                    <option value="">-- Chọn cơ sở --</option>
                </select>
                <span asp-validation-for="IdCoSo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="IdVaiTro">Vai trò</label>
                <select asp-for="IdVaiTro" class="form-control" asp-items="ViewBag.VaiTroList">
                    <option value="">-- Chọn vai trò --</option>
                </select>
                <span asp-validation-for="IdVaiTro" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

